<div class='col-xs-12 no-gutter detail-div'>
	<div class="row alert alert-danger" ng-show="error"><span>{{error}}</span></div>
	<div class="row detail-hd">
		<img class='col-xs-3 detail-img-bg' ng-src='{{info.url}}'></img>
		<div class='col-xs-9 no-gutter'>
			<span class='col-xs-12 detail-hd-nm'>{{info.name}}</span>
			<span class='col-xs-12 detail-hd-txt' ng-hide="info.title == null || info.title == '' || info.company == null || info.company == ''">{{info.title}} at {{info.company}}</span>
			<span class='col-xs-12 detail-hd-txt' ng-hide="info.location == null || info.location == ''">Lives in {{info.location}}</span>
		</div>
	</div>
	<ul class="row no-style-ul no-gutter">
		<li id="anchor{{m.datetime}}" class='col-xs-12 no-gutter' ng-repeat="m in info.contents">
			<!-- no-group -->
			<div ng-hide="info.group" class='col-xs-12 no-gutter'>
				<img class='col-xs-3 detail-img-sm' ng-src='{{info.url}}' ng-hide="m.userId == loginInfo.id"></img>
				<div ng-class="{'detail-dlg': m.userId != loginInfo.id, 'detail-dlg-self': m.userId == loginInfo.id}" ng-bind-html="m.text | emoji | widthFixed"></div>
			</div>
			<!-- group -->
			<div ng-show="info.group" class='col-xs-12 no-gutter'>
				<img class='col-xs-3 detail-img-sm' ng-src='{{ m.url }}' ng-class="{'fr': m.userId == loginInfo.id}"></img>
				<div>
					<p class="detail-nm-xs" ng-hide="m.userId == loginInfo.id">{{ m.name }}</p>
					<span ng-class="{'detail-dlg': m.userId != loginInfo.id, 'detail-dlg-self': m.userId == loginInfo.id}" ng-bind-html="m.text | emoji | widthFixed"></span>
				</div>
			</div>
		</li>
	</ul>
	<div class="row div-ft no-gutter">
		<div class="col-xs-1 detail-file-img" id="img">
			<input type="file" id="picture" fd-input />
		</div>
		<input class="col-xs-7 detail-ft-msg" type="text" ng-model="newMessage" my-enter="send(newMessage, false)" placeholder="Type a message..."/>
		<input class="col-xs-2 detail-ft-btn fr" type="button" value="Send" ng-click="send(newMessage, false)" ng-disabled="newMessage == null || newMessage == ''"/>
		<input class="col-xs-1 detail-ft-btn detail-emoji-sz fr" type="button" value="&#x263a;" ng-click="createEmoji()"/>
	</div>
</div>
