<!--
<my-dialogue ng-repeat="d in dialogues">
{{d.message}}</my-dialogue>
-->
<div class='col-xs-12 dlg-each no-gutter' ng-repeat="d in dialogues | orderBy: 'datetime' : true" ng-click="visitDetail(d.userId)">
	<img class='col-xs-2 dlg-img-circ' ng-src='{{d.url}}'></img>
	<div class='col-xs-10 dlg-div no-gutter'>
		<span class='col-xs-8 dlg-nm'>{{d.name}}</span>
		<span class='col-xs-4 dlg-dt lr'>{{d.datetime | dateFormat}}</span>
		<span class='col-xs-12 dlg-msg'>{{d.contents | lastMsg}}</span>
	</div>
</div>